$padding: 5em;


// css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: #E1E6E1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 800px;
    height: 480px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    

}

.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 0em;
    margin-top: 2em;
}

.header {
    width: 90%;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 1em;
    border-radius: .5em;
    
}

.header h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.main-col__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

.main-col__top
.text-desc {
    font-size: 1.4em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

}

.btn-primary {
    width: 150px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: .5em;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

 .btn-primary:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.09s ease-in-out;
}

 .btn-primary:active {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.09s ease-in-out;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: .8em 2em;
}

.middle .middle__lt {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    // border: #000 solid 1px;
}

.middle__lt .item-1, .item-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-1 .can__bottle {
    width: 10rem
  }
  
  .item-2 .pet__bottle {
    width: 10rem
}

.middle__rt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.price-container {
    border: #000 solid 2px;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    border-radius: .5em;
    margin-bottom: 1em;
}


.price-container .desc {
    font-size: 1.2em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.amount span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 2.5em;
    font-weight: 700;
}

.cedi {
    width: 1em;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.text__input_1 {
    width: 50%;
    height: 50px;
    background-color: #E1E6E1;
    border: none;
    border-radius: .5em;
    padding: 0 1em;
    margin-bottom: 1em;
    border: 1px solid #000;
    // margin-right: 2rem;
    max-width: 50%;
    
}

.text__input_1:focus {
    outline: none;
    border: 2px solid #0CAADC;
}

.btn_primary_2 {
    width: 80px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: .5em;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: .5em;
}

.btn_primary_2:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.09s ease-in-out;
}

 .btn_primary_2:active {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.09s ease-in-out;
}

.btn_primary_3 {
    width: 80px;
    height: 40px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: .5em;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: .5em;
}

.container_3 {
    margin-bottom: .7em;
} 

.btn_primary_3:focus {
    outline: none;
    background-color: #0CAADC;
    color: #000;
    font-size: 1em;
}


.btn_primary_2A {
    width: 80px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: .5em;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: .5em;
}

.btn_primary_2A:hover {
    background-color: #FF0000 !important;
    transition: all 0.09s ease-in-out;
    
}

.phone_no_label {
    font-size: 1.2em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.numbers-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btn-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1em;
    margin-top: 2em;
}


.btn-save {
    width: 80px;
    height: 45px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: .5em;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: .5em;
}

.btn-save:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.09s ease-in-out;
}



.btn-cancel {
    width: 90px;
    height: 45px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: .5em;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 1em;
    border: 2px solid #000;
}

.btn-cancel:hover {
    background-color: #0CAADC;
    color: #fff;
    border: #fff;
    transition: all 0.09s ease-in-out;
    
}

.modal_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


// Media Queries 800 x 480

@media screen and (max-width: 800px) {

    body {
        margin: 0;
    }

    .container {
        width: 100vw;
        height: 100%;
    }

    .item-2 .pet__bottle {
        height: 12rem;
    }
}